/*.white ul li{*/
    /*float: left;*/
    /*list-style: none;*/
/*}*/
/*.white ul{*/
    /*margin-top: 0px;*/
    /*padding-top: 0px;*/
/*}*/
/*.nicdark_focus.infor-subport {*/
    /*margin-top: -15px;*/
    /*margin-bottom: -10px;*/
/*}*/
.border_archive{
     border: 1px solid #e6e6e6;
}
.content_sub{
    text-align: center;
    margin-bottom: 0px ;
}
.content_sub p{
    text-align: justify;
    font-size: 14px;
}
.content_sub div.nicdark_space20{
    border-bottom: 1px solid #e6e6e6;
}
.content_sub a{
    border: none;
    color: #ed1c27;
    font-weight: bold;
}
.video-right{
    margin-top: 36px;
}
.nicdark_dark_widgets .widget ul li p a{
    padding: 0px;
}
.logo_ft p{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}
.nicdark_bg_blue_twitter {
     background-color: #14b9d5;
    /*background-color: #0086cd;*/
}
.nicdark_bg_yellow_rss{
    background-color: #ffd205;
}
.nicdark_list li p{
    font-size: 14px;
}
.subpport{
    margin-left: -40px;
}
.subpport li{
    list-style: none;
    float: left;
    width: 100%;
}
.subpport li span{
    font-size: 12px;
}

.subpport li a{
    font-size: 14px;
}
.lable_subpport {
    color: #0086cd;
    font-weight: 700;
}
.mobi_subpport{
    color: #ec1b23;
}
.skype_subpport{
    color: #0086cd;
}
.yahoo_subpport{
    color: #BA71DA;;
}
.destina_columm{
    padding-top: 10px;
    padding-bottom: 10px;
    /*padding: 15px;*/
}
.menu_top ul{
    margin-top: -10px;
}
.menu_top ul li{
    float:left;
    list-style: none;
}
.name_chitiet_danhmuc{
    width: 85%;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.3;
    font-size: 14px;
}
.detail_small{
    font-size: 14px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.bookinig_small{
    font-size: 14px;
    padding: 10px 20px;
}
.content_sub_danhmuc p{
    height: 134px;
    overflow: hidden;
}
.durations_detail_danhmuc, .durations_detail_danhmuc{
    font-size: 11px;
}
.link_banner a{
    color: #ffffff;
}
.link_banner span{
    color:#ec1b23;
}
.PAGING{
    float: left;
    /*display: inline;*/
    list-style: none;
    width: 100%;
    text-align: center;
}
.PAGING li{
    float: left;
}
.PAGING li a{
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    border: 1px solid #f1f1f1;
    margin-right: 5px;
    color: #a4a4a4;;
}
.PAGING li a.active {
    background-color: #1bbc9b;
    color: #ffffff;
}
.PAGING li a:hover{
    background-color: #1bbc9b;
    color: #ffffff;
}
.parameter{
    color: #0086cd;
    font-weight: bold;
    font-size: 14px;
}
.booking_detail{
    color: #ffffff;
    display: block;
    padding: 10px 20px;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #f1f1f1;
    border-bottom-width: 0px;
    background-color: #ec1b23;
    text-align: center;
}
.booking_detail_div{
    float: left; width: 30%
}
.social_div{
    float: left; width: 60%;padding-top: 10px;
}
.wpb_tabs_nav .ui-state-active a.tab_detail{
    color:#0086cd !important;
    background-color: #ffffff !important;
    font-weight: normal!important;

}
.tab_detail{
    font-size: 14px;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a
{
    font-weight: normal!important;
}
.content_detail{
    padding: 10px;
}
.lienquan{
    color:#0086cd; margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted;
    font-size: 15px;
    font-weight: bold;
}
.boder{
    border-top: 1px solid #0086cd;
}
.wpb_tabs .wpb_tabs_nav li {
    float: left;
    margin: 0 1px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}
.news_list_name{
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.3;
    font-size: 14px;
}
.news_list_name span{
    font-size: 14px;
    text-transform: none;
    color: #0086cd;
}
.date_news{
    position: relative;
    overflow: hidden;
    line-height: 15px;
    font-size: 14px;
    /*width: 77px;*/
    /*height: 15px;*/
    /* text-align: right; */
    font-family: "fontello";
    margin-left: 80px;
    display: inline-block;
}
.date_news span, .date_news i{
    color: #ed1c27;
}
.name_news{
    font-size: 22px;
    color: #0086cd !important;
    line-height: 35px;
    float: left;
    width: 100%;
}
.title_index{
    color: #0086cd;
}
.title_sub_index{
    color: #ed1c27 !important;
    font-size: 14px;

}
.title-right{
    background-color: #ffffff;
    border-bottom: 1px dotted #d0d0cd;
    text-align: center;
    border-left: 1px dotted #d0d0cd;
}
.title-right a{
    color: #ed1c27;
}
.title-left p{
    color: #ed1c27;
}
.title-left{
    background-color: #ffffff;
    border-bottom: 1px dotted #d0d0cd;
    text-align: center;

}
.name_desti{
    color: #0086cd !important; font-weight: 700
}
.sub_tittle_packet:hover{
    color: #0086cd !important;
}
.height_bg{
    height: 200px;
}
.margin_footer{
    margin-bottom: 0px;
}
.detail_font p{
    font-size: 14px;
}
.calculate_bt{
    width: 40%;
    color: #ffffff;
    padding: 10px;
}